@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
:root {
    --orange: #c06014;
    --green: #05cf6a;
    --black: #000000;
    --light_black: #272727;
    --grey: #424642;
    --light_grey: #aeaeae;
    --dark-red: #ba5536;
    --white: #f3f4ed;
    --typewriterSpeed: 3s;
    --typewriterCharacters: 12;
}

HTML {
    scroll-behavior: smooth;
}

::selection {
    background: var(--green);
    color: var(--grey);
}

body {
    width: 100%;
}

body::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

body::-webkit-scrollbar-track {
    background: var(--black);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 20px;
}

* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--green);
}

.figma-shape {
    display: none;
    width: 370px;
    height: 400px;
    opacity: 0;
    transform: translateX(3rem);
    animation: fadeInLeft 2s ease 3.3s forwards
}

.greetings {
    display: flex;
    flex-direction: column;
}

.welcome {
    position: absolute;
    left: 10%;
    top: 65%;
    font-size: 1.9rem;
    opacity: 0;
    transform: translateX(-3rem);
    animation: fadeInRight 2s ease 3.3s forwards;
}

.welcome h6 {
    font-style: italic;
}

@media screen and (min-width: 950px) {
    .opendev-website .p-and-image p {
        font-size: 1.4em;
        line-height: 1.6em;
        color: white;
    }
    .weather-app .p-and-image p {
        font-size: 1.4em;
        line-height: 1.6em;
        position: relative;
        top: 20px;
        color: white;
    }
    .todo-app .p-and-image p {
        font-size: 1.4em;
        line-height: 1.6em;
        color: white;
    }
}


/* ================COMPUTER SIZE=============== */


/* =====================HOME PAGE============== */

@media screen and (min-width: 751px) {
    .home-page {
        background: var(--white);
        text-align: left;
    }
    .nav-container {
        background-color: var(--light_black);
        display: grid;
        grid-template: 72% auto;
        background: unset;
    }
    .nav-container header {
        background-color: var(--black);
    }
    header {
        display: flex;
        justify-content: space-between;
        padding: 1.5em;
    }
    nav {
        float: right;
    }
    ul {
        list-style-type: none;
        display: flex;
    }
    li {
        font-size: 1.2em;
        display: block;
        padding: 0 1.5em;
    }
    li:hover {
        border-bottom: 2px solid var(--green);
    }
    .logo-name {
        color: var(--green);
        font-size: 1.3rem;
        font-weight: bold;
        padding: 0 0.7em;
    }
    #introduce-sentence {
        padding: 3em 0 0 6em;
        color: var(--light_black);
        font-size: 1.8em;
        display: flex;
        justify-content: left;
        opacity: 0;
        transform: translateY(3rem);
        animation: fadeInUp 2s ease 1s forwards
    }
    #name {
        padding: 0 0 7em 6em;
        color: var(--green);
        font-size: 1.8em;
        display: flex;
        justify-content: left;
        opacity: 0;
        transform: translateY(3rem);
        animation: fadeInUp 2s ease 2s forwards;
    }
    .figma-shape {
        position: relative;
        display: unset;
    }
    .home-page-design {
        position: relative;
        width: 370px;
        height: 400px;
        left: 45vw;
        bottom: 20vw;
    }
    .socials1 {
        display: flex;
    }
    .insta-logo,
    .github-logo {
        width: 50px;
        height: 50px;
        padding: 1.2em;
        opacity: 0;
        transform: translateY(3rem);
        animation: fadeInUp 2s ease 4s forwards;
    }
    .box-container {
        position: relative;
        justify-content: center;
        bottom: 300px;
        left: 20%;
        padding: 0;
        width: 450px;
        display: none;
    }
    .line {
        display: flex;
    }
    .box {
        padding: 0;
        height: 90px;
        width: 90px;
        background-color: #424642;
        border-radius: 8px;
        margin: 0.1em;
        display: none;
    }
    #box-1,
    #box-2,
    #box-4,
    #box-5,
    #box-7,
    #box-9 {
        background-color: var(--green);
    }
    /* ===================END OF HOME PAGE============== */
    /*==================== SKILLS PAGE =================*/
    .skills-page {
        background-color: var(--grey);
        padding: 2em;
        margin-top: -20%;
        display: flex;
    }
    .frontend {
        background-color: var(--green);
        border-radius: 8px;
        padding: 2em;
        display: block;
        width: 30%;
        margin: 2em;
    }
    .html-css-js {
        position: relative;
        width: 100%;
    }
    .introduce-frontend {
        font-size: 1.4em;
        text-align: center;
        margin-top: 1em;
        line-height: 30px;
    }
    .python-dev {
        background-color: var(--light_black);
        border-radius: 8px;
        padding: 2em;
        display: block;
        width: 30%;
        margin: 2em;
    }
    .python-skill {
        position: relative;
        width: 100%;
        top: 1em;
    }
    .introduce-python {
        text-align: center;
        font-size: 1.4em;
        margin-top: 2em;
        line-height: 30px;
        color: #03d36b;
    }
    .collaborate {
        background-color: var(--green);
        border-radius: 8px;
        padding: 1.5em;
        display: block;
        width: 30%;
        margin: 2em;
        padding: 2em;
    }
    .collaborate-img {
        position: relative;
        width: 100%;
        top: 1em;
    }
    .collab-skills {
        position: relative;
        text-align: center;
        font-size: 1.4em;
        margin-top: 1em;
        margin-top: 2.7em;
        line-height: 30px;
    }
    /* ====================END OF SKILLS PAGE===================== */
    .section-header-bg {
        justify-content: center;
        height: 60px;
        margin: 0;
    }
    .section-header {
        position: relative;
        background-color: var(--light_black);
        text-align: center;
        border-radius: 8px;
        margin-right: 20em;
        margin-left: 20em;
        padding: 0.8em;
        font-size: 0.8em;
        color: var(--green);
    }
    #some-projects::before {
        content: " ";
        background-color: var(--white);
    }
    #some-projects {
        top: -10px;
    }
    /* =====================PROJECTS PAGE========================= */
    .project-page {
        background-color: var(--grey);
        padding: 2em;
        margin-top: -1.5em;
    }
    .opendev-website {
        background-color: var(--light_black);
        margin: 1.6em;
        text-align: left;
        border-radius: 8px;
        padding: 1em;
    }
    .p-and-image {
        display: flex;
        align-items: flex-start;
        padding: 2em;
        padding-right: 0;
        color: white;
    }
    .project-title {
        color: var(--green);
        text-align: center;
        margin: 1em;
        font-size: 1.2em;
    }
    .opendev-img {
        border-radius: 8px;
        width: 50%;
        position: relative;
        margin: 1em;
    }
    #opendev-link {
        color: var(--green);
    }
    .weather-app {
        background-color: var(--light_black);
        margin: 1.6em;
        text-align: left;
        border-radius: 8px;
        padding: 1em;
    }
    .weather-app .p-and-image p {
        margin: 1em;
        margin-top: 0;
    }
    #weather-app-img {
        position: relative;
        width: 55%;
        margin: 1em;
        border-radius: 8px;
    }
    .todo-app {
        background-color: var(--light_black);
        margin: 1.6em;
        text-align: left;
        border-radius: 8px;
        padding: 1em;
    }
    .todo-app .p-and-image p {
        margin: 1em;
        margin-top: 0;
    }
    .todo-app-img {
        position: relative;
        width: 55%;
        position: relative;
        margin: 1em;
        border-radius: 8px;
        margin-top: 0;
    }
    /* ========================END OF PROJECTS PAGE======================= */
    #work-together::before {
        content: " ";
        background-color: var(--white);
    }
    #work-together {
        top: -20px;
        padding: 1.7em;
    }
    /* ========================FOOTER PAGE================================= */
    .footer {
        background-color: var(--grey);
        margin-top: -2.2em;
        height: 100%;
        width: 100%;
        padding-top: 3em;
    }
    .work-together-btn {
        position: relative;
        margin: 1em 2em 1em 2em;
        display: flex;
        justify-content: center;
        padding: 1em;
        background-color: var(--light_black);
        border: 2px solid var(--green);
        border-radius: 8px;
        width: 25%;
        left: 30%;
    }
    .work-together-btn h4 a {
        color: white;
    }
    .work-together-btn:hover {
        border: 2px solid var(--black);
    }
    .social-header {
        display: flex;
        justify-content: center;
        position: relative;
        left: -5%;
        padding: 1em;
        font-size: 0.8em;
        color: var(--black);
    }
    .github-logo2,
    .insta-logo2 {
        width: 40px;
        padding-left: 1em;
        left: 40%;
        position: relative;
    }
    .copyright {
        padding-top: 2em;
        color: var(--green);
        font-weight: lighter;
    }
}


/* =========TABLET SIZE========= */


/* =====================HOME PAGE============== */

@media screen and (max-width: 750px) {
    .figma-shape {
        display: none;
    }
    .welcome {
        display: none;
    }
    .home-page {
        background: var(--white);
        display: grid;
        text-align: center;
    }
    .nav-container {
        background-color: var(--light_black);
    }
    header {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }
    nav {
        float: left;
    }
    ul {
        list-style-type: none;
        display: flex;
    }
    li {
        font-size: 0.8em;
        display: block;
        padding: 0.2em 0.6em 0 0.6em;
    }
    li:hover {
        border-bottom: 2px solid var(--green);
    }
    .logo-name {
        color: var(--green);
        font-size: 1rem;
        font-weight: bold;
        padding: 0 0.8em;
    }
    .navbar-elem {
        position: relative;
        left: 0.5%;
    }
    .insta-logo,
    .github-logo {
        display: none;
    }
    #introduce-sentence {
        padding-top: 1em;
        color: var(--light_black);
        display: flex;
        justify-content: center;
        opacity: 0;
        transform: translateY(3rem);
        animation: fadeInUp 2s ease 1s forwards
    }
    #name {
        padding-bottom: 3em;
        color: var(--green);
        display: flex;
        justify-content: center;
        opacity: 0;
        transform: translateY(3rem);
        animation: fadeInUp 2s ease 3s forwards
    }
    .box-container {
        justify-content: center;
    }
    .line {
        display: flex;
        justify-content: center;
    }
    .box {
        padding: 0;
        height: 35px;
        width: 35px;
        background-color: #424642;
        border-radius: 8px;
        margin: 0.1em;
    }
    #box-1,
    #box-2,
    #box-4,
    #box-5,
    #box-7,
    #box-9 {
        background-color: var(--green);
    }
    /* ===================END OF HOME PAGE============== */
    /*==================== SKILLS PAGE =================*/
    .skills-page {
        background-color: var(--grey);
        padding: 2em;
    }
    .frontend {
        background-color: var(--green);
        display: block;
        margin: 1.6em;
        height: 85%;
        border-radius: 8px;
    }
    .html-css-js {
        position: relative;
        width: 50%;
        height: 50%;
        left: 23%;
        top: 9px;
    }
    .introduce-frontend {
        position: relative;
        left: 1%;
        text-align: center;
    }
    .python-dev {
        position: relative;
        background-color: var(--light_black);
        display: block;
        margin: 1.6em;
        height: 85%;
        border-radius: 8px;
    }
    .python-skill {
        position: relative;
        width: 50%;
        height: 50%;
        left: 20%;
        top: 9px;
    }
    .introduce-python {
        position: relative;
        left: 1%;
        text-align: center;
        color: #03d36b;
    }
    .collaborate {
        position: relative;
        background-color: var(--green);
        display: block;
        margin: 1.6em;
        height: 85%;
        border-radius: 8px;
    }
    .collaborate-img {
        position: relative;
        width: 50%;
        height: 50%;
        left: 20%;
        top: 5px;
    }
    .collab-skills {
        position: relative;
        left: 1%;
        text-align: center;
    }
    /* ====================END OF SKILLS PAGE===================== */
    .section-header-bg {
        justify-content: center;
        height: 60px;
        margin: 0;
    }
    .section-header {
        position: relative;
        background-color: var(--light_black);
        color: var(--green);
        text-align: center;
        border-radius: 8px;
        margin-right: 2em;
        margin-left: 2em;
        padding: 0.8em;
        font-size: 0.8em;
    }
    #some-projects::before {
        content: " ";
        background-color: var(--white);
    }
    #some-projects {
        top: -10px;
    }
    /* =====================PROJECTS PAGE========================= */
    .project-page {
        background-color: var(--grey);
        padding: 2em;
        margin-top: -1.5em;
    }
    .opendev-website {
        background-color: var(--light_black);
        margin: 1.6em;
        height: 85%;
        text-align: left;
        border-radius: 8px;
        padding: 1em;
    }
    .project-title {
        color: var(--green);
        text-align: center;
        margin: 1em;
        font-size: 0.6em;
    }
    .opendev-website .p-and-image p {
        margin: 1em;
        font-size: 0.7em;
        color: white;
    }
    .opendev-img {
        border-radius: 8px;
    }
    #opendev-link {
        color: var(--green);
    }
    .weather-app {
        background-color: var(--light_black);
        margin: 1.6em;
        height: 85%;
        margin-top: 1.6em;
        text-align: left;
        border-radius: 8px;
        padding: 1em;
    }
    .weather-app .p-and-image p {
        margin: 1.3em;
        font-size: 0.7em;
        color: white;
    }
    #weather-app-img {
        border-radius: 8px;
        width: 75%;
    }
    .todo-app {
        background-color: var(--light_black);
        margin: 1.6em;
        height: 85%;
        margin-top: 1.6em;
        text-align: left;
        border-radius: 8px;
        padding: 1em;
    }
    .todo-app .p-and-image p {
        margin: 1.3em;
        font-size: 0.7em;
        color: white;
    }
    .todo-app-img {
        border-radius: 8px;
        width: 80%;
    }
    /* ========================END OF PROJECTS PAGE======================= */
    #work-together::before {
        content: " ";
        background-color: var(--white);
    }
    #work-together {
        top: -20px;
        padding: 1.7em;
    }
    /* ========================FOOTER PAGE================================= */
    .footer {
        background-color: var(--grey);
        margin-top: -2.2em;
        height: 100%;
        width: 100%;
        padding-top: 3em;
    }
    .work-together-btn {
        position: relative;
        margin: 1em;
        display: flex;
        justify-content: center;
        padding: 1em;
        background-color: var(--light_black);
        border: 2px solid var(--green);
        border-radius: 8px;
        width: 50%;
        left: 20%;
    }
    .work-together-btn h4 a {
        color: white;
    }
    .work-together-btn:hover {
        border: 2px solid var(--black);
    }
    .social-header {
        display: flex;
        justify-content: center;
        padding: 1em;
        font-size: 0.8em;
    }
    .socials2 {
        display: flex;
        justify-content: center;
    }
    .github-logo2,
    .insta-logo2 {
        width: 30px;
        padding-left: 1em;
    }
    .copyright {
        padding-top: 2em;
        color: var(--green);
        font-weight: lighter;
    }
}


/* ==============PHONE SIZE================== */

@media screen and (max-width: 330px) {
    /* ===============HOME PAGE================ */
    .body {
        width: 100%;
    }
    .welcome {
        display: none;
    }
    .home-page {
        background: var(--white);
        display: grid;
        text-align: center;
        justify-content: center;
    }
    .nav-container {
        background-color: var(--light_black);
    }
    header {
        display: flex;
        justify-content: space-between;
        padding: 0.15em;
    }
    nav {
        float: left;
        font-size: 0.4em;
    }
    ul {
        list-style-type: none;
        display: flex;
    }
    li {
        display: block;
    }
    li:hover {
        border-bottom: 1px solid var(--green);
    }
    .logo-name {
        color: var(--green);
        font-size: 0.4rem;
        font-weight: bold;
        padding: 2.5% 0 4% 5%;
    }
    .navbar-elem {
        position: relative;
        left: -12%;
        padding: 0.7em;
    }
    .insta-logo,
    .github-logo {
        display: none;
    }
    #introduce-sentence {
        padding-top: 1em;
        color: var(--light_black);
        opacity: 0;
        transform: translateY(3rem);
        animation: fadeInUp 2s ease 1s forwards
    }
    #name {
        padding-bottom: 3em;
        color: var(--green);
        opacity: 0;
        transform: translateY(3rem);
        animation: fadeInUp 2s ease 3s forwards
    }
    .box-container {
        justify-content: center;
    }
    .line {
        display: flex;
        justify-content: center;
    }
    .box {
        height: 35px;
        width: 35px;
        background-color: #424642;
        border-radius: 6px;
        margin: 0.1em;
    }
    #box-1,
    #box-2,
    #box-4,
    #box-5,
    #box-7,
    #box-9 {
        background-color: var(--green);
    }
    /* ===================END OF HOME PAGE============== */
    /*==================== SKILLS PAGE =================*/
    .skills-page {
        background-color: var(--grey);
        padding: 2em;
    }
    .frontend {
        background-color: var(--green);
        display: block;
        margin: 1.6em;
        height: 85%;
        border-radius: 8px;
    }
    .html-css-js {
        position: relative;
        width: 50%;
        height: 50%;
        left: 29%;
        top: 9px;
    }
    .introduce-frontend {
        position: relative;
        left: 1%;
        text-align: center;
        font-size: 0.4em;
        padding: 1em;
    }
    .python-dev {
        position: relative;
        background-color: var(--light_black);
        display: block;
        margin: 1.6em;
        height: 85%;
        border-radius: 8px;
    }
    .python-skill {
        position: relative;
        width: 50%;
        height: 50%;
        left: 20%;
        top: 9px;
    }
    .introduce-python {
        position: relative;
        left: 1%;
        text-align: center;
        font-size: 0.4em;
        padding: 1em;
        color: #03d36b;
    }
    .collaborate {
        position: relative;
        background-color: var(--green);
        display: block;
        margin: 1.6em;
        height: 85%;
        border-radius: 8px;
    }
    .collaborate-img {
        position: relative;
        width: 60%;
        height: 50%;
        left: 17%;
        top: 5px;
    }
    .collab-skills {
        position: relative;
        left: 1%;
        text-align: center;
        font-size: 0.4em;
        padding: 1em;
    }
    /* ====================END OF SKILLS PAGE===================== */
    .section-header {
        position: relative;
        background-color: var(--light_black);
        color: var(--green);
        text-align: center;
        border-radius: 8px;
        margin-right: 2em;
        margin-left: 2em;
        padding: 0.5em;
        font-size: 0.7em;
    }
    #some-projects::before {
        content: " ";
        background-color: var(--white);
    }
    #some-projects {
        top: -10px;
    }
    /* =====================PROJECTS PAGE========================= */
    .project-page {
        background-color: var(--grey);
        padding: 1em 0 1em 0;
        margin-top: -1.5em;
    }
    .opendev-website {
        background-color: var(--light_black);
        margin: 1.6em;
        height: 50%;
        text-align: center;
        border-radius: 8px;
        padding: 0.5em;
    }
    .project-title {
        color: var(--green);
        text-align: center;
        margin: 0em;
        font-size: 0.4em;
    }
    .opendev-website p {
        margin: 1.3em;
        font-size: 0.4em;
        text-align: left;
    }
    .opendev-website p a {
        position: relative;
        font-size: 0.8em;
    }
    .opendev-img {
        border-radius: 8px;
    }
    #opendev-link {
        color: var(--green);
    }
    .weather-app {
        background-color: var(--light_black);
        margin: 1.6em;
        height: 50%;
        margin-top: 1.6em;
        text-align: center;
        border-radius: 8px;
        padding: 1em;
    }
    .weather-app p {
        margin: 1.3em;
        font-size: 0.4em;
        text-align: left;
    }
    #weather-app-img {
        border-radius: 8px;
    }
    .todo-app {
        background-color: var(--light_black);
        margin: 1.6em;
        height: 50%;
        margin-top: 1.6em;
        text-align: center;
        border-radius: 8px;
        padding: 0.5em;
    }
    .todo-app p {
        margin: 1.3em;
        font-size: 0.4em;
        text-align: left;
    }
    .todo-app-img {
        border-radius: 8px;
    }
    /* ========================END OF PROJECTS PAGE======================= */
    #work-together::before {
        content: " ";
        background-color: var(--white);
    }
    #work-together {
        top: -20px;
        padding: 1em;
    }
    /* ========================FOOTER PAGE================================= */
    .work-together-btn {
        position: relative;
        margin: 1em;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 0.2em 2em 0.2em 2em;
        background-color: var(--light_black);
        border: 2px solid var(--green);
        border-radius: 8px;
        width: 15%;
        left: 28%;
        font-size: 0.8em;
    }
    .work-together-btn h4 a {
        color: white;
    }
    .work-together-btn:hover {
        border: 2px solid var(--black);
    }
    .footer {
        background-color: var(--grey);
        margin-top: -2.2em;
        height: 100%;
        width: 100%;
        padding-top: 3em;
    }
    .social-header {
        display: flex;
        justify-content: center;
        padding: 0.5em;
        font-size: 0.7em;
        color: var(--black);
    }
    .socials {
        display: flex;
        justify-content: center;
        font-size: 0.9em;
        padding: 0.4em;
    }
    .github-logo2,
    .insta-logo2 {
        width: 30px;
        padding: 0em 0.8em 0.8em 0.4em;
        padding-bottom: 1em;
    }
    .copyright {
        font-size: 0.4em;
        color: var(--green);
        font-weight: lighter;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translatex(0);
    }
}